{% extends 'base.html.twig' %}

{% block title %}Partie Candidats/Critères{% endblock %}

{% block body %}
<style>
    .example-wrapper { text-align: center; text-justify: auto; margin: 1em auto; max-width: 800px; width: 195%; font: 18px/1.5 sans-serif; }
    body { background: #F5F5F5; }
</style>
<div class="example-wrapper">
    <h1>Nom du Quizz : </h1><br>
		<h2>Nom du Candidat : </h2><br>
	{% for criteria in criterias %}
			 <li><a href="">{{ quiz.name }}</li>
	 {% endfor %}

{% endblock %}
